* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#red{
    background-color: red;
    height: 100vh;
    clear: both;
}

#green{
    background-color: green;
    height: 100vh;
    clear: both;
}

#yellow{
    background-color: yellow;
    height: 100vh;
    clear: both;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    color: black;
}

li {
    background-color: white;
    border: solid 5px transparent;
    padding: 1rem;
    border-radius: 30rem;
    margin: 1rem;
    font-weight: bold;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.ty {
    color: yellow;
}

.tg {
    color: green;
}

img {
    width: 50%;
}

.first-aside {
    width: 25%;
    float: left;
    height: 100vh;
}

.second-aside {
    width: 25%;
    float: right;
    height: 100vh;
}