* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: red;
    left: 0;
    right: 0;
    padding-bottom: 2rem;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

main > article {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    float: right;
    color: black;
    margin-top: 2rem;
}

a {
    background-color: white;
    border: solid 5px transparent;
    padding: 1rem;
    border-radius: 50%;
    margin: 1rem;
    font-weight: bold;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.ty {
    color: yellow;
}

.tg {
    color: green;
}

img {
    width: 40%;
}